<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>146545499725-oa2h1crsag02hdag4to7sdve817sgv91.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.146545499725-oa2h1crsag02hdag4to7sdve817sgv91</string>
	<key>API_KEY</key>
	<string>AIzaSyDsviOC9VdUfhBJUH8vZxG6pHfCsQmfQJs</string>
	<key>GCM_SENDER_ID</key>
	<string>146545499725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>max-co.eleghack</string>
	<key>PROJECT_ID</key>
	<string>elegiondb</string>
	<key>STORAGE_BUCKET</key>
	<string>elegiondb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:146545499725:ios:4dd7138f3380111e390604</string>
	<key>DATABASE_URL</key>
	<string>https://elegiondb-default-rtdb.firebaseio.com</string>
</dict>
</plist>